<nav>
  <div class="logo">RentaWork</div>
  <div class="hamburger" aria-label="Toggle menu" role="button" tabindex="0"
       (click)="toggleMenu()" [class.open]="menuOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul [class.open]="menuOpen">
    <li>
      <a class="btn btn-outline-light" routerLink="/" (click)="closeMenu()">Početna</a>
    </li>
    <li>
      <a class="btn btn-outline-light" routerLink="/info" (click)="closeMenu()">Info</a>
    </li>

    <!-- Registracija i login se prikazuju samo ako korisnik NIJE ulogovan -->
    <li *ngIf="!isLoggedIn">
      <a class="btn btn-outline-light" routerLink="/register" (click)="closeMenu()">Registruj se</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a class="btn btn-outline-light" routerLink="/login" (click)="closeMenu()">Login</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a class="btn btn-outline-success" routerLink="/profil" (click)="closeMenu()">Profil</a>
    </li>
    <!-- Logout se prikazuje samo ako korisnik JESTE ulogovan -->
    <li *ngIf="isLoggedIn">
      <button class="btn btn-outline-primary"  (click)="logout(); closeMenu()">Logout</button>
    </li>
  </ul>
</nav>
