<div class="registracija-wrapper">
  <div class="registracija-container">
        <h2>Registruj se</h2>
         <div class="progress-bar">
        <div class="progress-line"></div>
        <div class="steps">
          <div 
            class="step" 
            *ngFor="let s of steps; let i = index"
            [class.active]="currentStep === i + 1"
            [class.completed]="currentStep > i + 1"
          >
            {{ i + 1 }}
          </div>
        </div>
      </div>

      <form  [formGroup]="step1Form" (ngSubmit)="nextStep()">
        <ng-container *ngIf="currentStep === 1">
    <!-- polja za korak 1 -->
  
        <!-- Polje za korisničko ime -->
      <div class="form-group">
        <label for="username">Korisničko ime</label>
        <div class="input-icon">
          <i class="icon">&#64;</i>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Unesi korisničko ime"
            required
            
          />
        </div>
      </div>
      <div class="form-group">
        <label for="ime">Ime</label>
        <div class="input-icon">
          <i class="icon">&#64;</i>
          <input
            type="text"
            id="ime"
            name="ime"
            placeholder="Unesi ime"
            required
            
          />
        </div>
      </div>
      <div class="form-group">
        <label for="prezime">Prezime</label>
        <div class="input-icon">
          <i class="icon">&#64;</i>
          <input
            type="text"
            id="prezime"
            name="prezime"
            placeholder="Unesi prezime"
            required
            
          />
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-icon">
          <i class="icon">&#64;</i>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Unesi email"
            required
            
          />
        </div>
      </div>
      <!-- Polje za lozinku sa toggle dugmetom -->
      <div class="form-group">
        <label for="password">Lozinka</label>
        <div class="input-icon password-wrapper">
          <i class="icon">🔒</i>
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
           
            name="password"
            placeholder="Unesi lozinku"
            required
            [disabled]="isLockedOut"
          />
          <button
            type="button"
            class="toggle-password"
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="showPassword ? 'Sakrij lozinku' : 'Prikaži lozinku'"
            [disabled]="isLockedOut"
          >
            {{ showPassword ? '🙈' : '👁️' }}
          </button>
        </div>
        <label for="confirmPassword">Potvrdi lozinku</label>
  <div class="input-icon password-wrapper">
    <i class="icon">🔒</i>
    <input
      [type]="showPassword ? 'text' : 'password'"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="Ponovo unesi lozinku"
      required
      
      [disabled]="isLockedOut"
    />
   
  </div>
      
        
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="step1Form.invalid">Dalje</button>
      </div>
      </ng-container>
      <ng-container *ngIf="currentStep === 2">
    <h5>Novo</h5>
      </ng-container>
      </form>

  </div>
</div>