footer nav {
  flex-wrap: nowrap;
  font-size: 0.9rem;
    background: rgba(0, 0, 255, 0.1);
}

footer nav .nav-link {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

@media (max-width: 576px) {
  footer nav {
    flex-wrap: wrap;
  }
}
