<nav>
  <div class="logo">RentaWork</div>
  <div class="hamburger" aria-label="Toggle menu" role="button" tabindex="0"
       (click)="toggleMenu()" [class.open]="menuOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul [class.open]="menuOpen">
    <li><a class="btn btn-outline-light" routerLink="/">Pocetna</a></li>
    <li><a class="btn btn-outline-light" routerLink="/info">Info</a></li>
    <li><a class="btn btn-outline-light" routerLink="/register">Registruj se </a></li>
    <li><a class="btn btn-outline-light" routerLink="/login">Login</a></li>
  </ul>
</nav>
