/* styles.css */
:root {
  --app-height: 100vh; /* inicijalna vrednost dok TS ne postavi pravu */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;      /* da bi body sa flex-grow radio ispravno */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* samo horizontalni skrol */
}
